body{
    background-color: #f4f7f7;
}

h4{
    color: #2DD69C;
    font-size: 23px;
    font-weight: bold;
}
.header{
    height: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-bottom: #727272 1px solid;
    padding-bottom: 3px;
}
.logo{
    min-height: 30px;
    min-width: 135px;
    max-height: 50px;
    max-width: 200px;
    user-select: none;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 3px;
}

.menu{
    min-height: 17px;
    max-height: 28px;
    float: left;
    user-select: none;
    cursor: pointer;
    padding-top: 8px;
}

.profile{
    min-height: 35px;
    max-width: 55px;
    float: right;
    user-select: none;
    cursor: pointer;
}

.card-container{
    display: flex;
    margin: 0px 10px;
    box-shadow: 1rem .5rem 1rem rgba(0, 0, 0, .15);
    border: 1px solid #F5F8FD;
    background-color: #F5F8FD;
    border-radius: 20px;
}

.nPerfil {
    padding-left: 30px;
}
.alumno {
    width: 200px;
    height: 200px;
}

.nombre-a{
    text-align: center;
    margin: 5px 50px;
}

.datos tr{
    display: table;
    padding: 40px;
    /* background: #fff; */
}

.azul{
    color: #021A8E;
}

.dataU{
    font-size: 12px;
    font-weight: normal;
    margin: 0px 20px 5px 10px;
}

.fila{
    font-size: 12px !important;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    border-top: 0px;
    
}

.fila:hover{
    background-color: #17a2b8;
}
