<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/views/Imagenes/logocolor.png" type="image/x-icon">   
    <link rel="stylesheet" href="/Views/Styles/style1.css">
    <title>MiBaño</title>
</head>
<body>
    <div class="header">
        <img class="logo" src="/Views/Imagenes/Mibaño.png">
        <a href="Cuenta_html.php"><img class="profile" src="/views/Imagenes/avatar_default.png"></a>
    </div>
    <div class="direccion-baño" content="width=device-width, initial-scale=1.0">
        <h1>Baño Hombres M1-3er Piso</h1>
    </div>
    <div class="reportes">
        <div class="solicitud" content="width=device-width, initial-scale=1.0">
            <div class="confort">
                <img src="/views/Imagenes/Confort.png">
            </div>
            <div class="nova">
                <img src="/views/Imagenes/Nova.png">
            </div>
            <div class="water">
                <img src="/views/Imagenes/Water.png">
            </div>
            <div class="jabon">
                <img src="/views/Imagenes/Jabon.png">
            </div>
            <div class="problema">
                <img src="/views/Imagenes/reportar un problema.png">
            </div>
        </div>
    </div>
    <div class="enviar" content="width=device-width, initial-scale=1.0">
        <img src="/views/Imagenes/Enviar.png">
    </div>
</body>
</html>