<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/sugerencia.css">
    <link rel="shortcut icon" href="/Imagenes/logocolor.png" type="image/x-icon">
    <title>Sugerencias</title>
</head>
<body>
    <header class="header">
        <img src="/Imagenes/Mibaño.png" alt="" class="logo">
    </header>
    <h2 class="contenido">Si desea dejar una sugerencia o reclamo, por favor rellene este pequeño formulario.</h2>
    <div class="formulario">
        <h3 class="contenido">¿Sugerencia o reclamo?</h3>
        <div class="categoria">
            <h3 class="contenido" id="tipo-R">Reclamo</h3>
            <input type="checkbox" name="tipo-solicitud" id="switch1">
            <label for="switch1" class="lbl"></label>
            <h3 class="contenido" id="tipo-S">Sugerencia</h3>
        </div>
        <h2 class="contenido">Especifique su solicitud aquí</h2>
        <div id="contenedor">
            <input type="text" name="" id="solicitud" placeholder="Escribe aquí...">
            <input type="submit" value="Enviar" id="submit">
        </div>
        
        
    </div>
</body>
</html>