.header{
    height: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-bottom: #727272 1px solid;
    padding-bottom: 3px;
    align-items: baseline;
}

.logo{
    min-height: 30px;
    min-width: 135px;
    max-height: 50px;
    max-width: 200px;
    user-select: none;;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 3px;
}

.contenido{
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}

.categoria{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
}


.lbl{
    display: inline-block;
    width: 65px;
    height: 33px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
}

.lbl::after{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: .2s;
}

#switch1:checked + .lbl{
    background: darkcyan;
}

#switch1{
    display: none;
}

#tipo-R{
    padding-left: 25px;
    padding-right: 25px;
    color: #979797;
}

#tipo-S{
    padding-left: 25px;
    padding-right: 25px;
}

#contenedor{
    padding-left: 25px;
    padding-right: 25px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#solicitud{
    width: auto;
    height: 15vh;
}

#submit{
    width: 10vh;
    padding-top: 5px;
    background: rgb(3, 182, 182);
}